body {
    font-family: 'Barlow';
}

.bg-transparent {
    opacity: 1;
}

.bg-site {
    background-color: #f7f7f7;
}

.text-black {
    color: black;
}

.text-muted {
    color: rgb(158, 158, 158) !important;
}

.no-border {
    border: none;
}

.mt-title {
    margin-top: 10rem;
}

.mt-projects {
    margin-top: 10rem;
}

.mt-items-start {
    margin-top: 3rem;
}

.mb-bottom-page {
    margin-bottom: 10rem;
}

.border-wyb {
    border-radius: 20px;
    border-bottom: #2d3436 5px solid;
}

.bg-wyb {
    background-color: #f3f3f3;
}

.border-ff {
    border-radius: 20px;
    border-bottom: #6c82ff 5px solid;
}

.bg-ff {
    background-image: url('images/gowit_background.png');
    background-size: cover;
}

.link-ff {
    color: rgb(139, 222, 255);
}

.bg-cc {
    background-image: url('images/cli-chess_background.png');
}

.border-cc {
    border-radius: 20px;
    border-bottom: rgb(255, 251, 0) 5px solid;
}

.border-radius-20px {
    border-radius: 20px;
}

.border-radius-navbar {
    border-radius: 50px;
}

.project-divide-space {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divider-space {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.fs-lg {
    font-size: 40px;
}

.p-skills-item {
    padding: 70px;
}

.me-skills-item {
    margin-right: 5rem;
}

.text-skills-color {
    color: rgb(0, 140, 255);
}

.bg-dark-half {
    background: linear-gradient(to top, #2d3436 50%, transparent 50%);
    padding: 0rem 0;
}

.bg-dark-footer {
    background-color: #2d3436;
}

.contact-section {
    margin-bottom: 0rem;
}
